@charset "UTF-8";

.warp{
	position: relative;
}

#wrap {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1200px;
}

.header {
    height: 90px;
    width: 100%;
    background-color: rgb(0,0,0,0.4);
    position: absolute; 
    z-index : 2;
}

header {
    height: 89px;
    background: rgba(0,0,0,.3);
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 600;
    border-bottom: 1px solid hsla(0,0%,100%,.3);
}

.header_contents{
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    justify-content: space-between;
}

#content {
    margin: 0 auto;
    padding: 0 0 150px;
    width: 100%;
}

/*
@media (min-width: 1200px)
._grid-system-column_.lg-12 {
    width: 100%;
}
*/

.flex { 
    display : flex; 
 }

 .nav_top > ul{
    list-style: none;
 }

 .nav_top > ul > li{
    display: inline-block;
    margin-left: 30px;
 }
.login {
    margin-left: 30px;
}

.main_content{
    background-color: red;
    width: 80%;
    margin: 0 auto;
}

#container {
    padding-top: 90px;
    min-height: 500px;
}

div {
    display: block;
}

blockquote, body, button, caption, dd, div, dl, dt, fieldset, form, frame, h1, h2, h3, h4, h5, h6, hr, html, iframe, input, legend, li, object, ol, p, pre, q, select, table, td, textarea, tr, ul {
    margin: 0;
    padding: 0;
    font-family: NanumSquare,Nanum Gothic,\\B098\B214\ACE0\B515,"\B9D1\C740 \ACE0\B515",Malgun Gothic,Open Sans,Dotum,\\B3CB\C6C0,arial,sans-serif;
}

.cont {
    padding-bottom: 100px;
}

.sub_visual_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 570px;
    padding-top: 90px;
}

.sub_visual_wrap .inner_wrap {
    position: absolute;
    top: 0;
    left: 50%;
    width: 423px;
    margin-left: -645px;
}

.inner_wrap {
    margin: 0 auto;
}

.inner_middle, .inner_wrap {
    width: 100%;
    max-width: 1160px;
}

.sub_visual_wrap .sub_info_area {
    position: relative;
    width: 400px;
    height: 480px;
    margin-top: 90px;
    padding: 0 36px;
    background: rgba(0,0,0,.5);
}

.sub_visual_wrap .sub_info_area .sub_info_title {
    width: 260px;
    min-height: 120px;
    padding-top: 30px;
    color: #fff;
}

.sub_visual_wrap .sub_info_area .sub_info_title h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.sub_visual_wrap .sub_info_area .sub_info_title h3 {
    font-size: 32px;
    font-weight: 800;
    line-height: 45px;
}

.sub_visual_wrap .sub_info_area .sub_info_title .h3_sub {
    margin-top: 9px;
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
}

.sub_visual_wrap .sub_info_area .score_area_l {
    margin-top: 18px;
}

.sub_visual_wrap .sub_info_area .weather {
    position: absolute;
    top: 29px;
    right: 27px;
    width: 90px;
    height: 90px;
    background: rgba(0,0,0,.3);
    border-radius: 50%;
    font-size: 13px;
    color: #fff;
    text-align: center;
}

.score_area_l {
    position: relative;
    width: 103px;
    height: 17px;
    background: url(../images/icon_img/bg_starL_off.png) no-repeat 0 0;
}

.score_area_l .score_count_l {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: url(../images/icon_img/bg_starL_on.png) no-repeat 0 0;
    text-indent: 999px;
}

.sub_visual_wrap .sub_info_area .tag_area {
    margin-top: 19px;
    min-height: 40px;
    font-size: 14px;
    color: #ccc;
    line-height: 14px;
}

.sub_visual_wrap .sub_info_area .tag_area .best_tag {
    margin-top: 0;
    font-weight: 700;
}

.sub_visual_wrap .sub_info_area .tag_area p {
    margin-top: 8px;
}

.sub_visual_wrap .sub_info_area .basic_information {
    margin-top: 8px;
}

.sub_visual_wrap .sub_info_area .basic_information .info_tit {
    padding-bottom: 10px;
    border-bottom: 1px solid #9398a6;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    line-height: 20px;
}

.sub_visual_wrap .sub_info_area .basic_information .info_sub_tit {
	margin-bottom : 10px;
    float: left;
    width: 60px;
    height: 14px;
    font-size:  20px;
    line-height: 18px;
    color: #ccc;
}

div.jisik-detail div.outline ul.jisik_list li div.qustion p.name[data-v-0fc691de] {
    text-align: center;
    position: absolute;
    left: 10px;
    top: 20px;
    padding-top: 54px;
    width: 100px;
    font-size: 15px;
    color: #1b1b1b;
    background: url(../images/icon_img/q_mark.png)  no-repeat top/42px auto;
}

.sub_visual_wrap .sub_info_area .basic_information .info_sub_cont {
    float: left;
    width: 290px;
    min-height: 14px;
    font-size: 14px;
    color: #fff;
    line-height: 18px;
}

.sub_visual_wrap .sub_info_area .basic_information div {
    margin-top: 10px;
}

.sub_visual_wrap .sub_info_area .basic_information .btn_area {
    margin-top: 20px;
}

.sub_visual_wrap .sub_info_area .basic_information .btn_area button {
    float: left;
    padding: 0 10px;
    min-width: 84px;
    height: 30px;
    border: 1px solid #fff;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
}

.sub_visual_wrap+.sub_visual[data-v-09a75c9f] {
    padding-top: 500px;
}

.location_wrap[data-v-09a75c9f] {
	margin: 5px auto 0;
	width:100%;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.location_wrap {
    position: unset;
}

.location_wrap .location {
    display: none;
}



.location_wrap {
    z-index: 2;
    height: 40px;
    width: 900px;
    padding: 30px 0;
    margin: 0 0 60px;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    border-top: 0;
}

.location_wrap .location {
    display: none;
}

.appraisal_list {
	margin:5px auto 0;
	width:1290px;
    padding: 40px 0;
}

ol, ul {
    list-style: none;
}

.appraisal_list li button {
    width: 100%;
}

.appraisal_list li:first-child {
    width: 300px;
    border-left: 0;
}

button {
    border: 0;
    background: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    text-transform: inherit;
}

.clear:after {
    display: block;
    content: "";
    clear: both;
}



.appraisal_list li {
    float: left;
    width: 300px;
    height: 100px;
    border-left: 1px solid #e5e5e5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

.appraisal_list li div {
    height: 50px;
    position: relative;
    margin-bottom: 7px;
}

.appraisal_list li div.ico_like {
    background: url(../images/icon_img/ico_app_like.png) no-repeat 50% 7px;
}

.add2020_detail_tab_box h2 a.up {
    border: 1px solid #ef6d00;
    background: #fdf0e5;
    font-weight: 700;
    color: #ef6d00;
}

.add2020_detail_left h2 a.up span.arrow {
    background: url(../images/icon_img/add2020_detail_up.png) 0 0 no-repeat;
}


.appraisal_list li div.ico_review {
    background: url(../images/icon_img/ico_app_review.png) no-repeat 50% 7px;
}

.appraisal_list li .appraisal_tit {
    font-size: 16px;
    color: #535353;
    line-height: 16px;
}

.appraisal_list li div.ico_like.on {
    background-position-y: -40px;
}

.add2020_detail_tab_box h2 a.up {
    border: 1px solid #ef6d00;
    background: #fdf0e5;
    font-weight: 700;
    color: #ef6d00;
}

.add2020_detail_box h2 a {
    border: 1px solid #e5e5e5;
    background: #f6f6f6;
    font-weight: 400;
    color: #535353;
}

.appraisal_list li div.ico_like.on {
    background-position-y: -40px;
}

.appraisal_list li .appraisal_cnt {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #ef6d00;
    line-height: 16px;
}

.appraisal_list li div.ico_hits {
    background: url(../images/icon_img/ico_app_hits.png) no-repeat 50% 5px;
}

.add2020_detail {
    margin: 5px auto 0;
    width: 1290px;
}

.add2020_detail_left {
    float: left;
    width: 900px;
}

.add2020_detail_box h2 a.up {
    border: 1px solid #ef6d00;
    background: #fdf0e5;
    font-weight: 700;
    color: #ef6d00;
}

.add2020_detail_box h2 a, .add2020_detail_box h2 a.up {
    position: relative;
    display: block;
    padding: 15px 19px 13px;
    font-size: 18px;
}

.add2020_detail_box_in {
    padding: 20px 0;
}

._grid-system-grid_ {
    position: static;
    width: 100%;
}

._grid-system-column_ {
    position: static;
}

/*
@media (min-width: 1200px)
._grid-system-column_.lg-12 {
    width: 100%;
}

@media (min-width: 1200px)
._grid-system-column_.lg-1, ._grid-system-column_.lg-2, ._grid-system-column_.lg-3, ._grid-system-column_.lg-4, ._grid-system-column_.lg-5, ._grid-system-column_.lg-6, ._grid-system-column_.lg-7, ._grid-system-column_.lg-8, ._grid-system-column_.lg-9, ._grid-system-column_.lg-10, ._grid-system-column_.lg-11, ._grid-system-column_.lg-12 {
    float: left;
}
*/

.viewer[data-v-7a97b51e] {
    position: relative;
    min-height: 100px;
}

.viewer .row[data-v-7a97b51e] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.viewer .row .col[data-v-7a97b51e] {
    display: inline-block;
    width: 50%;
}

a, fieldset, img, table {
    border: 0;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

/*
img[Attributes Style] {
    width: 100%;
}
*/
._grid-system-row_ {
    position: static;
    width: 100%;
}

.kr .p[data-v-29f7b454] {
    word-break: keep-all;
}

.p[data-v-29f7b454] {
    font-size: 17px;
    text-align: left;
    color: #333;
    line-height: 32px;
}

div.real[data-v-29f7b454] {
    padding-bottom: 20px;
}


.add2020_detail_right {
    float: right;
    width: 350px;
}

.add2020_detail_side_box {
    margin-bottom: 10px;
    padding: 0 10px 19px;
    border: 1px solid #e5e5e5;
}

.add2020_detail_side_box h2 {
    margin: 0 0 25px;
    padding: 18px 0 14px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.add2020_detail_side_box h2 {
    margin: 0 0 25px;
    padding: 18px 0 14px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.add2020_detail_side_info dl {
    padding: 0 4px 11px;
}

.add2020_detail_side_info dt {
    margin: 25px 0 6px;
    padding-left: 19px;
    background: url(../images/icon_img/add2020_detail_bullet.png) 0 0 no-repeat;
    font-size: 16px;
    color: #8c8c8c;
    font-weight: 700;
}
.add2020_detail_side_info dd {
    font-size: 14px;
    color: #353535;
    line-height: 18px;
    word-break: break-all;
}


.conts_detail, .conts_detail p {
    font-size: 18px;
    line-height: 32px;
}

.conts_detail {
    color: #333;
    padding-bottom: 30px;
}

.add2020_detail_tab>ul>li {
    margin-top: 10px;
}

.add2020_detail_tab_box h2 a, .add2020_detail_tab_box h2 a.up {
    position: relative;
    display: block;
    padding: 15px 19px 13px;
    font-size: 18px;
}

.add2020_detail_tab_box h2 a {
    border: 1px solid #e5e5e5;
    background: #f6f6f6;
    font-weight: 400;
    color: #535353;
}

.add2020_detail_left h2 a span.arrow {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -5px;
    width: 10px;
    height: 9px;
    text-indent: -9999px;
    background: url(../images/icon_img/add2020_detail_down.png) 0 0 no-repeat;
}

.detail_page .tab_cont .cont_tit {
    font-size: 24px;
    font-weight: 800;
    color: #1b1b1b;
    line-height: 24px;
}

a, a:active, a:hover, a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

.add2020_detail_con {
    padding: 36px 10px 40px;
    position: static!important;
}

.detail_page .tab_cont .btn_regsit {
    height: 35px;
    padding: 0 19px;
    background: #ef6d00;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 35px;
    float: right;
    margin-top: -24px;
}

.detail_page .util_wrap {
    margin-top: 20px;
}

.detail_page .util_wrap .util_area {
    float: left;
}

.detail_page .util_wrap .util_area ul {
    height: 16px;
    padding: 7px 0;
}

.detail_page .util_wrap .util_area ul li:first-child {
    padding-left: 0;
    border-left: 0;
}

.detail_page .util_wrap .util_area ul li {
    float: left;
    padding: 0 20px;
    border-left: 1px solid #d9d9d9;
}

.detail_page .util_wrap .util_area ul li.on a {
    color: #535353;
}

.detail_page .util_wrap .util_area ul li a {
    position: relative;
}

.detail_page .util_wrap .util_area ul li a {
    display: block;
    font-size: 16px;
    color: #8a8b8b;
    line-height: 16px;
}

.clear:after {
    display: block;
    content: "";
    clear: both;
}

.review_wrap {
    margin-top: 25px;
}

.review_wrap .review_list {
    border-top: 1px solid #e5e5e5;
}

.review_wrap .review_item {
    position: relative;
    padding: 20px 0;
    height: 200px;
    border-bottom: 1px solid #e5e5e5;
}

.review_wrap .review_list .review_item .review_area {
    padding-bottom: 15px;
}

.review_wrap .review_area .user_profile {
    float: left;
    width: 80px;
    margin-left:30px;
    /* padding-right: 50px; */
    text-align: center;
}

.review_wrap .review_area .user_profile .photo_area {
    position: relative;
    width: 80px;
    height: 80px;
}

.review_wrap .review_area .user_profile .photo_area .user_profile_img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.review_wrap .review_area .user_profile .user_name {
    margin-top: 14px;
    font-size: 15px;
    color: #1b1b1b;
    line-height: 15px;
}

.review_wrap .review_area .user_profile .reg_date {
    font-size: 12px;
}

.review_wrap .review_area .user_profile .reg_date {
    margin-top: 7px;
    font-size: 14px;
    color: #555;
    line-height: 14px;
}

.review_wrap .review_area .user_profile .score_area_p {
    display: inline-block;
    margin-top: 9px;
}

.score_area_p {
    position: relative;
    width: 65px;
    height: 12px;
    background: url(../images/icon_img/bg_starP_off.png) no-repeat 0 0;
}

.score_area_p .score_count_p {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: url(../images/icon_img/bg_starP_on.png) no-repeat 0 0;
    text-indent: -9999px;
}

.review_wrap .review_item>.review_area>.user_content {
    position: relative;
    min-height: 180px;
}

.review_wrap .review_area .user_content {
    float: left;
    width: 750px;
}

.review_wrap .review_area .user_content .recom_area {
    position: absolute;
    right: 0;
}

.review_wrap .review_area .user_content .recom_area .ico_like {
    float: left;
    padding-left: 20px;
    background: url(../images/icon_img/ico_like.png) no-repeat 0 50%;
    background-size: 15px 11px;
    font-size: 14px;
    color: #ef6d00;
    line-height: 23px;
}

.review_wrap .review_area .user_content .recom_area .btn_rcmd {
    margin-left: 10px;
    border: 1px solid #ef6d00;
    color: #ef6d00;
}

.review_wrap .review_item button {
    min-width: 40px;
    height: 23px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    color: #555;
    line-height: 23px;
}

.review_wrap .review_area .user_content .checked_area {
    float: left;
    width: 650px;
}

.review_wrap .review_area .user_content .checked_area .check_list {
    float: left;
    max-width: 550px;
}

.review_wrap .review_area .user_content .review {
    position: relative;
    padding-right: 20px;
    width: 690px;
}

.review_wrap .review_area .user_content .review {
    float: left;
    width: 650px;
    margin: 20px 50px;
}

.review_wrap .review_list .review_item .reg_ripple {
    margin-top: 20px;
}

.review_wrap .review_list .review_item .reg_ripple {
    display: none;
}

.review_wrap .review_list .review_item .reg_ripple .reg_ripple_item {
    padding: 20px 0 1px 130px;
    border-top: 1px solid #e5e5e5;
    background: url(../images/icon_img/ico_reply_mark.png) no-repeat 87px 23px;
}

.review_wrap .review_list .review_item .reg_ripple .reg_ripple_area {
    width: 820px;
}

.review_wrap .review_list .review_item .reg_ripple .reg_ripple_area .reg_ripple_input {
    float: left;
    width: 690px;
}

.paging {
    position: relative;
    text-align: center;
    padding-top: 70px;
}

.paging .page-wrap {
    display: inline-block;
}

.paging .page-wrap a.page-first, .paging .page-wrap a.page-last {
    margin: 0 3px;
}

.paging .page-wrap a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 8px;
    vertical-align: middle;
    border: 1px solid #ccc;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}

.spr_com.page-first {
    background-position: 0 -100px;
}

.spr_com {
    display: inline-block;
    background: url(../images/icon_img/spr_comm.png) no-repeat;
    text-indent: -999px;
    overflow: hidden;
    vertical-align: middle;
}

.spr_com.page-prev {
    background-position: -30px -100px;
    margin-right: 30px!important;
}

.paging a.current {
    color: #fff!important;
    font-weight: 700;
    border-color: #ef6d00;
    background-color: #ef6d00;
}

.spr_com.page-next {
    background-position: -60px -100px;
    margin-left: 30px!important;
}

.spr_com.page-last {
    background-position: -90px -100px;
}

.paging .page-wrap a.page-first, .paging .page-wrap a.page-last {
    margin: 0 3px;
}

.add2020_detail_con {
    padding: 36px 10px 40px;
    position: static!important;
}

.tab_cont {
    position: relative;
    padding-top: 50px;
}

p.jisik_tit[data-v-db46a16a] {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    color: #1b1b1b;
    margin: 0 0 26px;
}

p.jisik_tit span[data-v-db46a16a] {
    font-size: 16px;
    color: #ef6d00;
}

p.jisik_tit button[data-v-db46a16a] {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 16px;
    font-weight: 400;
    height: 35px;
    padding: 0 19px;
    background: #ef6d00;
    border-radius: 5px;
    color: #fff;
}

table.jisik_list[data-v-db46a16a] {
    width: 100%;
    border-top: 2px solid #535353;
}


table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

table.jisik_list thead tr th[data-v-db46a16a] {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #333;
    line-height: 58px;
    padding: 0;
    border-bottom: 1px solid #e5e5e5;
}

.detail_page .tab_cont table th {
    padding-top: 6px;
    font-size: 18px;
    font-weight: 800;
    color: #1b1b1b;
    line-height: 26px;
    text-align: left;
    vertical-align: top;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table.jisik_list tbody tr td[data-v-db46a16a]:first-child {
    width: 540px;
    text-align: left;
}

table.jisik_list tbody tr td[data-v-db46a16a] {
    border-bottom: 1px solid #e5e5e5;
    line-height: 56px;
    text-align: center;
    padding: 0 10px;
    width: 140px;
}
.detail_page .tab_cont table td {
    word-break: keep-all;
    -ms-word-break: normal;
}

.detail_page .tab_cont table td {
    padding: 6px 0;
    font-size: 16px;
    color: #535353;
    line-height: 20px;
}

table.jisik_list tbody tr td:first-child p[data-v-db46a16a] {
    width: 540px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    cursor: pointer;
}

table.jisik_list tbody tr td:first-child p u.ok[data-v-db46a16a] {
    color: #ef6d00;
}

table.jisik_list tbody tr td:first-child p u[data-v-db46a16a] {
    color: #666;
    text-decoration: none;
}

.know_paging_wrap {
    text-align: center;
    margin: 20px 0;
}

.know_paging_wrap button.active {
    background: #ef6d00;
    color: #fff;
}

.know_paging_wrap button {
    background: #efefef;
    width: 40px;
    height: 40px;
    font-size: 14px;
    border-radius: 50%;
    margin: 0 2px;
}

div.jisik-detail.on[data-v-0fc691de] {
    display: block;
}

div.jisik-detail.on[data-v-db46a16a] {
    display: block;
}

div.jisik-detail[data-v-0fc691de] {
    display: none;
    position: fixed;
    z-index: 601;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    background: rgba(0,0,0,.1);
}

div.jisik-detail div.outline[data-v-0fc691de] {
    position: absolute;
    width: 1000px;
    left: 50%;
    margin-left: -500px;
    top: 100px;
    background: #fff;
    padding: 60px 50px 50px;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.05098);
    box-shadow: 0 0 15px rgba(0,0,0,.05098);
}

div.jisik-detail [data-v-0fc691de] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div.jisik-detail div.outline ul.jisik_list[data-v-0fc691de] {
    margin: 0 0 30px;
    position: relative;
}

div.jisik-detail div.outline ul.jisik_list li div.qustion[data-v-0fc691de] {
    position: relative;
    padding: 20px 160px 50px 130px;
    border-bottom: 1px solid #ebebeb;
}

div.jisik-detail div.outline ul.jisik_list li div.qustion p.name[data-v-0fc691de] {
    text-align: center;
    position: absolute;
    left: 10px;
    top: 20px;
    padding-top: 54px;
    width: 100px;
    font-size: 15px;
    color: #1b1b1b;
}

div.jisik-detail div.outline ul.jisik_list li div.qustion p.name strong[data-v-0fc691de] {
    display: none;
}

div.jisik-detail div.outline ul.jisik_list li div.qustion p.category[data-v-0fc691de] {
    font-size: 15px;
    color: #1b1b1b;
    margin: 0 0 12px;
}

div.jisik-detail div.outline ul.jisik_list li div.qustion p.title[data-v-0fc691de] {
    font-size: 16px;
    color: #1b1b1b;
    margin: 0 0 12px;
}

div.jisik-detail div.outline ul.jisik_list li div.qustion div.jisik_text[data-v-0fc691de] {
    font-size: 14px;
    color: #535353;
    line-height: 1.6;
}

ul.thumb_img[data-v-0fc691de] {
    font-size: 0;
    margin: 30px 0 10px;
}

div.jisik-detail div.outline ul.jisik_list li div.qustion p.count[data-v-0fc691de] {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 14px;
    color: #555;
}

div.jisik-detail div.outline ul.jisik_list li div.qustion p.count strong[data-v-0fc691de] {
    font-weight: 400;
}

div.jisik-detail div.outline ul.jisik_list li div.qustion p.count span[data-v-0fc691de] {
    font-weight: 600;
}

div.jisik-detail div.outline ul.jisik_list li div.answer[data-v-0fc691de] {
    position: relative;
    padding: 30px 160px 160px 130px;
    border-bottom: 1px solid #ebebeb;
    background : url(../images/icon_img/a_mark.png) no-repeat #f9f9f9 left 70px top 20px/32px auto;
}

div.jisik-detail div.outline ul.jisik_list li div.answer p.name[data-v-0fc691de] {
    font-size: 15px;
    color: #1b1b1b;
    margin: 0 0 12px;
}

div.jisik-detail div.outline ul.jisik_list li div.answer p.name span[data-v-0fc691de] {
    font-size: 12px;
    color: #555;
    margin: 0 0 0 10px;
}

div.jisik-detail div.outline ul.jisik_list li div.answer p.title[data-v-0fc691de] {
    font-size: 16px;
    color: #1b1b1b;
    margin: 0 0 12px;
}

div.jisik-detail div.outline ul.jisik_list li div.answer div.jisik_text[data-v-0fc691de] {
    font-size: 14px;
    color: #535353;
    line-height: 1.6;
}

div.jisik-detail div.outline button.close[data-v-0fc691de] {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 26px;
    height: 26px;
    border: none;
    background: url(../images/icon_img/x_sign.png);
    font-size: 0;
}

.pop_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.pop_wrap .pop_dim {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.6);
}



.pop_wrap .pop_container.pop_review {
    margin-left: -350px;
    margin-top: 100px;
    padding: 40px;
    border: 1px solid #ef6d00;
    width: 700px;
    height: auto;
    opacity: 1;
    position: fixed;
}

.pop_wrap .pop_container {
    top: 50px;
}

.pop_wrap .pop_container {
    display: block;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-top: 0;
    margin-left: -580px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px;
    width: 1160px;
    height: 800px;
    -webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,.65);
    box-shadow: 0 0 8px 1px rgba(0,0,0,.65);
    -webkit-transition: opacity .39s;
    transition: opacity .39s;
    opacity: 0;
    background: #fff;
}

.pop_wrap .pop_container .pop_content {
    position: relative;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}
.pop_wrap .pop_container.pop_review .review_top {
    position: relative;
    padding-top: 5px;
}

.pop_wrap .pop_container.pop_review .review_top h3 {
    font-size: 22px;
    color: #1b1b1b;
}

.pop_wrap table.board_write {
    margin-bottom: 5px;
}

.detail_page .tab_cont table {
   /*  width: 1050px; */
    margin-top: 20px;
}
.pop_wrap table.board_write {
    width: 100%!important;
    border: 0;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

colgroup {
    display: table-column-group;
}

/*
col[Attributes Style] {
    width: 100px;
}
*/

col {
    display: table-column;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.pop_wrap table.board_write tbody tr {
    border-bottom: 1px solid #e2e2e2;
}

.detail_page .tab_cont table th {
    padding-top: 6px;
    font-size: 18px;
    font-weight: 800;
    color: #1b1b1b;
    line-height: 26px;
    text-align: left;
    vertical-align: top;
}

.pop_wrap table.board_write th {
    padding: 7px 0;
    font-size: 16px;
    color: #1b1b1b;
    text-align: left;
    letter-spacing: -1px;
}

.detail_page .tab_cont table th {
    padding-top: 6px;
    font-size: 18px;
    font-weight: 800;
    color: #1b1b1b;
    line-height: 26px;
    text-align: left;
    vertical-align: top;
}

.detail_page .tab_cont table td {
    word-break: keep-all;
    -ms-word-break: normal;
}

.detail_page .tab_cont table td {
    padding: 6px 0;
    font-size: 16px;
    color: #535353;
    line-height: 20px;
}

.pop_wrap .pop_container.pop_review .score_area {
    width: 100%;
    overflow: hidden;
    background: none;
}

.pop_wrap .pop_container.pop_review .review_btn_box {
    margin-top: 25px;
    text-align: center;
}

.pop_wrap .pop_container.pop_review .review_btn_box button.btn_regist {
    margin-right: 20px;
    border-color: #f8c990;
    color: #ef6d00;
}

.pop_wrap .pop_container.pop_review .review_btn_box button {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #e5e5e5;
    width: 120px;
    height: 45px;
    font-size: 17px;
}

.pop_wrap .pop_container.pop_review .review_btn_box button.btn_cancel {
    color: #8c8c8c;
}

.pop_wrap .pop_container.pop_review .score_area .btn_score.on {
    background: url(../images/icon_img/bg_star_on.png) no-repeat 0 0;
}

.pop_wrap .pop_container.pop_review .score_area .btn_score {
    float: left;
    margin-right: 3px;
    width: 15px;
    height: 15px;
    text-indent: -9999px;
    background: url(../images/icon_img/bg_star_off.png) no-repeat 0 0;
}

div.jisik-pop.on[data-v-a315ebf2] {
    display: block;
}

div.jisik-pop.on[data-v-db46a16a] {
    display: block;
}

div.jisik-pop[data-v-a315ebf2] {
    display: none;
    position: fixed;
    z-index: 604;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    background: rgba(0,0,0,.1);
}

div.jisik-pop[data-v-db46a16a] {
    display: none;
    position: fixed;
    z-index: 604;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    background: rgba(0,0,0,.1);
}

div.jisik-pop div.outline[data-v-a315ebf2] {
    position: absolute;
    width: 1000px;
    left: 50%;
    margin-left: -500px;
    top: 100px;
    background: #fff;
    padding: 30px 50px 50px;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.05098);
    box-shadow: 0 0 15px rgba(0,0,0,.05098);
}

div.jisik-pop [data-v-a315ebf2] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div.jisik-pop div.outline h3[data-v-a315ebf2] {
    text-align: center;
    font-size: 20px;
    color: #ef6d00;
    font-weight: 600;
    margin: 0 0 45px;
}

.cont_wrap h3 {
    font-size: 35px;
    color: #1b1b1b;
    line-height: 35px;
    text-align: left;
    margin-bottom: 50px;
    padding-left: 5px;
}

div.jisik-pop div.outline h3 small[data-v-a315ebf2] {
    display: block;
    font-size: 14px;
    color: #999;
    font-weight: 400;
}

div.jisik-pop div.outline div.box[data-v-a315ebf2] {
    margin: 40px 0 0;
}

div.jisik-pop div.outline div.box>div[data-v-a315ebf2] {
    padding: 0 0 25px;
    margin: 0 0 25px;
}

div.jisik-pop div.outline div.box>div h5[data-v-a315ebf2] {
    font-size: 18px;
    color: #333;
    font-weight: 600;
    margin: 0 0 18px;
}

div.jisik-pop div.outline div.box>div.text input[data-v-a315ebf2] {
    width: 100%;
    height: 50px;
    border: 1px solid #e6e6e6;
    padding: 0 20px 0 60px;
    margin: 0 0 20px;
    font-size: 16px;
    color: #535353;
    background: url(../images/icon_img/question_mark.png) no-repeat left  ;
   }
   
   div.jisik-pop div.outline div.box>div.text textarea[data-v-a315ebf2] {
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 20px;
    margin: 0 0 20px;
    font-size: 16px;
    color: #535353;
    line-height: 1.6;
    height: 300px;
}

textarea {
    resize: none;
}

div.jisik-pop div.outline div.agree[data-v-a315ebf2] {
    padding: 20px;
    background: #f8f8f8;
    border: 1px solid #ddd;
    margin: 0 0 45px;
}

div.jisik-pop div.outline button.submit[data-v-a315ebf2] {
    display: block;
    background: #ef6d00;
    border: 1px solid #ce5e00;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 45px;
    margin: 0 auto;
    padding: 0 60px;
}

div.jisik-pop div.outline button.close[data-v-a315ebf2] {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 26px;
    height: 26px;
    border: none;
    background: url(../images/icon_img/x_sign.png) no-repeat 50%/100% auto;
    font-size: 0;
}